<!-- {% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido_que_varia %}
    {% for product in products %}
        <div class="col-md-3 py-2">
            <div class="card d-flex align-items-center text-center">
                <img src="product_image" width="300" height="300" alt="product_name">
                <div class="card-body">
                    <h5 class="card-title header_color">{{product.product_name}}</h5>
                    <p class="card-text">Marca: {{product.product_brand}}</p>
                    <p class="card-text">Precio: {{product.product_price}}</p>
                    <p class="card-text">Descripcion: {{product.product_descrition}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}







<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="/home"><i class="fa-solid fa-mobile-screen"></i> Nombre-Tienda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Nav Paginas -->
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/create-product/">crear productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-usuario/">crear usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-blog/">crear blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lista-blog/">blog</a>
                </li>
            </ul>
            <!-- Nav Paginas -->
            <!-- Nav Carrito -->
            <!-- <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item me-3 me-lg-0">
                    <a href="" id=""></a>
                </li>
            </ul>
            <!-- Nav Carrito -->
        <!-- </div>
    </div>
</nav> --> --> --> -->
